In [2]:
l=[1,2,3,4,5,6,7,8] # how u will add 1 to each element in list

In [6]:
l[0]+1 # very lenthy solution is looop

2

In [7]:
l=[1,2,3,4,5,6,7,8]

In [11]:
for i in l : # i jayega l kai under and keep out value of element 1 then itbwill print i=1 
    #then this loop out all elements till last
    
    print(i)

1
2
3
4
5
6
7
8

In [13]:
for i in l:
    print(i+1) ##solution for first question

2
3
4
5
6
7
8
9

In [14]:
l1=["dan","tan","man"]

In [16]:
l1=[]
for i in l1:
    print(i)
    l1.append(i.upper())

In [17]:
l1

[]

In [18]:
l3=[1,2,3,4,5,"danish","anish",324,567,434] ## make seprate list for string and integer

In [19]:
l4_num=[]
l5_str=[]
for i in l :
    if type(i)== int or type(i)==float :
        l4_num.append(i)
        else :
            l5_str.append(i)

SyntaxError: invalid syntax (3036056546.py, line 6)

In [20]:
l4_num

NameError: name 'l4_num' is not defined